*
{
	margin: 0;
	padding: 0;
	font-family: impact;
}
header
{
	background-image:linear-gradient(rgba(0,0,0,0.10),rgba(0,0,0,0.10)), url(https://www.pngkey.com/png/detail/33-337705_elearning-books-t-laptop-and-book-png.png);
	height: 100vh;
	background-size: cover;
    background-position: center;
}
ul
{
	float: right;
	list-style-type: none;
	margin-top: 25px;
	margin-right: 25px;
}
ul li
{
	display: inline-block;
}
ul li a
{
	text-decoration: none;
	color: #F97412;
	padding: 05px 20px;
	border: 1px solid transprent;
	transition: 0.8s ease;
}
ul li a:hover
{
	background-color: #F97412;
	color: #0824F8;
}
ul li.active a
{
	background-color: #F97412;
	color: #0824F8;
}
.logo img
{
	float: left;
	width: 150px;
	height: auto;
}
.main
{
	max-width: 1200px;
	margin: auto;
}
.title
{
	position: absolute;
	top: 01%;
	left: 22%;
	transform: translate(-0% -0%);
}
.title h1
{
	color: #F97412;
	font-size: 45px;
}
.welcome
{
	position: absolute;
	top: 1200%;
	left: -50%;
	transform: translate(-0% -0%);
}
.welcome h1
{
	color: #0908F7;
	font-size: 40px;
}

